.main-button {
    background-color: aqua;
    height: 70px;
    width: 150px;
    border-radius: 7%;
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-button:hover {
    background-color: rgb(3, 233, 233);
}

#click-count {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #140101;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 20px;
}